/cookbook/chap07_Jayeoneo/text8.zip
/konlpy_180111/data.json
/konlpy_180111/newstext/data.json
/word2vec/wiki.model.syn1neg.npy
/word2vec/wiki.model.wv.syn0.npy
/word2vec/wiki.txt
/word2vec/wiki.wakati
/word2vec/wiki2.model.syn1neg.npy
/word2vec/wiki2.model.wv.syn0.npy
/cookbook/imagenet-vgg-verydeep-19.mat
